@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Roboto:wght@300&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #404042;
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 1.2;

  @media screen and (max-width: 991px) {
    font-size: 64px;
  }

  @media screen and (max-width: 767px) {
    font-size: 2rem;
  }
}

p, span {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
